.moviesCardList {
  width: 100%;
  padding: 80px 0 0;
}

.moviesCardList__container {
  width: 1140px;
  padding: 0;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 364px);
  row-gap: 30px;
  column-gap: 24px;
  list-style-type: none;
}

.moviesCardList__card {
  width: 364px;
  height: 271px;
  background-color: white;
}

.moviesCardList__button {
  display: block;
  width: 320px;
  height: 36px;
  margin: 80px auto;
  padding: 0;
  cursor: pointer;
  background: none;
  color: white;
  outline: none;
  border: 1px solid rgba(66, 66, 66, 1);
  border-radius: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}
.moviesCardList__button:hover {
  opacity: 0.8;
  transition: 0.3s linear all;
}

