.content_promo {
  max-width: 100%;
  height: 574px;
  background-color: #073042;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.promo__wraper {
  margin: 0 0 0 70px;
  width: 50%;
}

.promo__header {
  font-family: "Inter";
  line-height: 58px;
  font-size: 50px;
  font-weight: normal;
  font-style: normal;
  color: #ffff;
  margin: 75px 0 36px 0;
  max-width: 640px;
}

.promo__description {
  font-family: "Inter";
  max-width: 310px;
  font-size: 13px;
  line-height: 16px;
  font-style: normal;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.5);
}

.promo__button {
  font-family: "Inter";
  width: 129px;
  height: 36px;
  margin: 145px 0 75px 0;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  background-color: #073042;
  cursor: pointer;
  line-height: 16px;
  color: #ffff;
  font-size: 12px;
  font-weight: 500;
}

.promo__button:hover {
  opacity: 0.5;
  transition: 0.3s linear 0s;
}

.promo__logo {
  display: block;
  margin: 75px 70px 0 0;
}
