.content_techs {
  color: #ffff;
  width: 100%;
  margin: 0;
  background: rgba(39, 39, 39, 1);
}

.techs__header {
  border-bottom: 1px solid rgba(218, 218, 218, 1);
  max-width: 1140px;
  padding-bottom: 23px;
  padding-top: 110px;
  margin: 0 auto;
}

.techs__header_text {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 27px;
  color: white;
  margin: 0;
}

.techs__body {
  text-align: center;
}
.techs__body-header {
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 58px;
}

.techs__body-text {
  width: 460px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  margin: 0 auto;
}

.techs__stack {
  list-style: none;
  display: flex;
  margin: 100px auto 0;
  padding: 0 0 100px;
  justify-content: center;
}
.techs__stack_container {
  display: flex;
  width: 90px;
  height: 60px;
  background-color: rgba(48, 48, 48, 1);
  margin: 0 10px 0 0;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

.techs__stack_container:last-of-type {
  margin-right: 0;
}
.techs__stack_item {
  box-sizing: border-box;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}
